<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BloodBowl 2020 - Quick Reference</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="https://fav.farm/ðŸˆ"/>
    <script type="module">
        import {Application, Controller} from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"

        window.Stimulus = Application.start()
        Stimulus.register("team-table", class extends Controller {
            static targets = ["allegiance", "starPlayer"]

            connect() {
                this.changeAllegiance()
            }

            toggleStarPlayers(event) {
                let trigger = event.target;
                let expanded = trigger.ariaExpanded === 'true';
                trigger.ariaExpanded = !expanded;
                trigger.innerText = expanded ? 'Show' : 'Hide';
                this.starPlayerTargets.forEach(function (e) {
                    e.classList.toggle('hidden', expanded)
                });
            }

            changeAllegiance() {
                let allegiance = this.hasAllegianceTarget && this.allegianceTarget.value;
                if (!allegiance) {
                    this.starPlayerTargets.forEach(function (e) {
                        e.classList.remove('hidden')
                    });
                    return;
                }
                this.starPlayerTargets.forEach(function (e) {
                    let playsFor = JSON.parse(e.dataset.playsFor);
                    e.classList.toggle('hidden', !playsFor.includes(allegiance));
                });
            }
        });
        Stimulus.register("fragment-dialog-trigger", class extends Controller {
            show(event) {
                event.preventDefault();
                let trigger = event.target;
                let href = trigger.getAttribute('href');
                let hash = new URL(href, document.baseURI).hash;
                let target = document.querySelector(hash);
                target = target.cloneNode(true);
                target.id = 'fragment-dialog-' + target.id;
                let dialog = `
                        <dialog data-controller="fragment-dialog" data-action="click->fragment-dialog#handleLinkClick">
                            <header style="display: flex; gap: 24px; align-items: center">
                                <button data-action="fragment-dialog#close" class="dialog-close">Close</button>
                                <h1 style="margin:0">${target.querySelector('h3').innerHTML}</h1>
                            </header>
                            ${target.querySelector('summary').nextElementSibling.innerHTML}
                        </dialog>
                    `;
                let fragment = document.createRange().createContextualFragment(dialog);
                let dialogElement = fragment.querySelector('dialog[data-controller="fragment-dialog"]'); // Reference the newly created dialog
                document.body.appendChild(fragment); // Append the fragment to the DOM
                dialogElement.showModal();
            }
        });
        Stimulus.register("fragment-dialog", class extends Controller {
            close(event) {
                this.element.close();
                this.element.remove();
            }

            // Handles any link clicks within the dialog that don't have [data-controller="fragment-dialog-trigger"]
            handleLinkClick(event) {
                let link = event.target.closest('a');
                if (link?.dataset['controller'] !== 'fragment-dialog-trigger') {
                    let dialogs = document.querySelectorAll('dialog[data-controller="fragment-dialog"]');
                    dialogs.forEach(function (e) {
                        e.remove()
                    });
                }
            }
        });
    </script>
    <style>
        :root {
            --site-padding: 20px;
            --site-max-width: none;
            --color-blue: #29417A;
            --color-red: #8F1613;
            --color-gold: #DAB140;

        }

        @media (min-width: 720px) {
            :root {
                --site-padding: 40px;
                --site-max-width: 720px;
            }
        }

        html, body {
            font-family: system-ui, sans-serif;
            font-size: 14px;
            line-height: 1.4;
            margin: 0;
            padding: 0;
        }

        body {
            color: #333;
            padding: var(--site-padding);
            -webkit-text-size-adjust: 100%;
        }

        p, ol, ul, dl {
            max-width: var(--site-max-width);
        }

        * {
            scroll-margin-top: 64px;
        }

        h1 {
            color: var(--color-blue);
        }

        a {
            color: #3161D2;
            text-decoration-color: #b7c5e4;
        }

        h2 {
            color: var(--color-red);
        }

        h1, h2, h3 {
            margin-block-start: 2em;
        }

        p, details {
            margin-block: 1.5em;
        }

        small {
            font-weight: normal;
            opacity: .75;
        }

        .table-wrapper {
            overflow-x: auto;
        }

        table {
            background: white;
            border-collapse: collapse;
            border: 1px solid #ccc;
            overflow-x: auto;
        }

        thead {
            background: whitesmoke;
        }

        tr:target {
            background: #fdfdee;
        }

        tbody tr:hover {
            background: #f0f6ff;
        }

        th, td {
            border: 1px solid #ccc;
            font-size: 14px;
            padding: 0.5em;
            vertical-align: top;
            text-align: start;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }

        dl {
            font-size: 14px;
            margin-block: 1.5em;
            max-width: var(--site-max-width);

            dt {
                margin-block-start: 8px;
            }

            dd {
                margin-inline-start: 12px;
                margin-block-start: 4px;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }

        @media (min-width: 388px) {
            dl {
                display: grid;
                grid-template-columns: max-content 1fr;
                gap: 0.5em;

                dt, dd {
                    margin: 0;
                }
            }

        }

        .badge {
            font-size: 12px;
            opacity: 1;
            padding: 0 4px;
            background: #eee;
            border-radius: 4px;
        }

        .hidden {
            display: none;
        }

        nav {
            background: white;
            position: sticky;
            z-index: 1;
            top: 0;
            padding: 8px var(--site-padding);
            margin-block: 0;
            margin-inline: calc(var(--site-padding) * -1);
            font-size: 12px;

            ol {
                border: 1px solid #ccc;
                border-radius: 4px;
                display: flex;
                gap: 16px;
                list-style-type: none;
                margin: 0 -12px;
                max-width: calc(var(--site-max-width) + 24px);
                padding: 8px 12px;
                overflow-x: auto;

                a {
                    display: block;
                    white-space: nowrap;
                }
            }
        }

        @media (min-width: 720px) {
            nav ol {
                font-size: initial;
            }
        }

        .github-banner {
            background: var(--color-blue);
            border-radius: 4px;
            color: white;
            margin: 0;
            padding: 12px 12px;
            margin-inline: -12px;
            display: grid;
            gap: 12px;
            max-width: calc(var(--site-max-width) + 24px);

            a {
                color: inherit;
            }

            p {
                margin: 0;
            }
        }

        .nowrap {
            white-space: nowrap;
        }

        dialog {
            padding: 20px;
            box-sizing: border-box;

            & > header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 24px;
                border-block-end: 1px solid #ccc;
                padding-bottom: 20px;
                margin-bottom: 20px;

                h1 {
                    margin: 0;
                }
            }
        }

        .dialog-close {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        details {
            & > summary::-webkit-details-marker {
                display: none;
            }

            & > summary {
                cursor: pointer;
                list-style: none;
                padding: 0;
                display: flex;
                align-items: center;
                gap: .5rem;

                &::after {
                    content: "";
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M248 72c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 160L40 232c-13.3 0-24 10.7-24 24s10.7 24 24 24l160 0 0 160c0 13.3 10.7 24 24 24s24-10.7 24-24l0-160 160 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-160 0 0-160z"/></svg>');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: auto 16px;
                    height: 16px;
                    width: 16px;
                }
            }

            &[open] > summary {
                margin-block-end: 20px;
            }

            &[open] > summary::after {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 13.3-10.7 24-24 24L40 280c-13.3 0-24-10.7-24-24s10.7-24 24-24l368 0c13.3 0 24 10.7 24 24z"/></svg>');
            }

        }


        .team,
        .star-player,
        .player-skill,
        .player-trait,
        .special-rule {
            background: hsl(0 0% 98%);
            padding: 16px;
            border: 1px solid hsl(0 0% 90%);
            margin-block: 8px;
            margin-inline: -16px;

            h3 {
                margin: 0;
            }
        }

    </style>

</head>
<body>
<div class="github-banner">
    <p>The source for this website is available at: <a href="https://github.com/leevigraham/bloodbowl">github.com/leevigraham/bloodbowl</a>.
    </p>
    <p>Contributions / Pull Requests are welcome.</p>
</div>

<h1 id="top">BloodBowl 2020 - Quick Reference</h1>
<nav>
    <ol>
        <li><a href="#teams">Teams</a></li>
        <li><a href="#star-players">Star Players</a></li>
        <li><a href="#player-skills-and-traits">Skills and Traits</a></li>
        <li><a href="#special-rules">Special Rules</a></li>
        <li style="margin-inline-start: auto"><a href="#">Top</a></li>
    </ol>
</nav>

<div id="teams">
    <h2>Teams</h2>
    <ol>
        {% for team in data.teams %}
            <li><a href="#{{ team.slug }}">{{ team.name }}</a></li>
        {% endfor %}
    </ol>
    {% for team in data.teams %}
        <details id="{{ team.slug }}"
                 class="team"
                 data-controller="team-table"
        >
            <summary>
                <h3 style="margin-block-start: 0">{{ team.name }} Team</h3>
            </summary>
            <div>
                {{ team.ruleBookDescription|markdown_to_html }}
                <dl>
                    <dt>Special Rules</dt>
                    <dd>{{ team.getSpecialRulesSummaryWithLinks|raw ?: 'None' }}</dd>
                    <dt>Additional Rules</dt>
                    <dd>{{ team.additionalRules ? team.additionalRules : 'None' }}</dd>
                    <dt>Tier</dt>
                    <dd>{{ team.tier }}</dd>
                    <dt>Re-rolls Qty</dt>
                    <dd>0-8</dd>
                    <dt>Re-rolls Cost</dt>
                    <dd>{{ team.reRollCost|format_number({grouping_used:true}, locale='en') }}</dd>
                    <dt>Apothecary</dt>
                    <dd>{{ team.canHaveApothecary ? 'Yes' : 'No' }}</dd>
                    <dt>Source</dt>
                    <dd>{{ team.source }}</dd>
                </dl>
                <h4>Players</h4>
                <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th scope="col">Qty</th>
                            <th scope="col">Position</th>
                            <th scope="col">Cost</th>
                            <th scope="col">MA</th>
                            <th scope="col">ST</th>
                            <th scope="col">AG</th>
                            <th scope="col">PA</th>
                            <th scope="col">AV</th>
                            <th scope="col">Skills</th>
                            <th scope="col">Traits</th>
                            <th scope="col">Primary</th>
                            <th scope="col">Secondary</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in team.playerPositions %}
                            <tr id="{{ player.slug }}">
                                <td style="white-space: nowrap">{{ player.qty }}</td>
                                <th scope="row">{{ player.name }}</th>
                                <td>{{ player.cost|format_number({grouping_used:true}, locale='en') }}</td>
                                <td>{{ player.MA }}</td>
                                <td>{{ player.ST }}</td>
                                <td>{{ player.AG }}</td>
                                <td>{{ player.PA }}</td>
                                <td>{{ player.AV }}</td>
                                <td class="nowrap">
                                    {% if player.skills|length %}
                                        <ul>
                                            {% for label, skill in player.skills %}
                                                <li>
                                                    <a href="#{{ skill.slug }}"
                                                       data-controller="fragment-dialog-trigger"
                                                       data-action="fragment-dialog-trigger#show">{{ label }}</a>
                                                    {% if skill.compulsory %}
                                                        <span>*</span>
                                                    {% endif %}
                                                    <small>({{ skill.category.value }})</small>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                                <td class="nowrap">
                                    {% if player.traits|length %}
                                        <ul>
                                            {% for label, trait in player.traits %}
                                                <li>
                                                    <a href="#{{ trait.slug }}"
                                                       data-controller="fragment-dialog-trigger"
                                                       data-action="fragment-dialog-trigger#show">{{ label }}</a>
                                                    {% if trait.compulsory %}
                                                        <span>*</span>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                                <td>{{ player.primarySkillCategories|map(p => p.value)|join() }}</td>
                                <td>{{ player.secondarySkillCategories|map(p => p.value)|join() }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <details>
                    <summary>
                        <h4 style="margin: 0; display: inline">Star Players</h4>
                    </summary>
                    {% if team.specialRulesType == 'one_of' %}
                        <form style="margin-block: 1.5em;">
                            <label for="{{ team.slug }}[allegiance]">Team Special Rule</label>
                            <select id="{{ team.slug }}[allegiance]"
                                    data-action="team-table#changeAllegiance"
                                    data-team-table-target="allegiance"
                            >
                                <option value=""></option>
                                {% for rule in team.specialRules %}
                                    <option>{{ rule.name }}</option>
                                {% endfor %}
                            </select>
                            <small style="margin-inline-start: 12px">Updates Star Players below</small>
                        </form>
                    {% endif %}
                    <div class="table-wrapper">
                        <table style="margin-block-start: 1.5rem">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Cost</th>
                                <th scope="col">MA</th>
                                <th scope="col">ST</th>
                                <th scope="col">AG</th>
                                <th scope="col">PA</th>
                                <th scope="col">AV</th>
                                <th scope="col">Skills</th>
                                <th scope="col">Traits</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for player in team.starPlayerPositions %}
                                <tr class="star-player hidden"
                                    id="{{ team.slug }}-{{ player.slug }}"
                                    data-team-table-target="starPlayer"
                                    data-plays-for="{{ player.playsFor|keys|json_encode }}"
                                >
                                    <th scope="row"><a href="#{{ player.slug }}"
                                                       data-controller="fragment-dialog-trigger"
                                                       data-action="fragment-dialog-trigger#show">{{ player.name }}</a>
                                    </th>
                                    <td>{{ player.cost|format_number({grouping_used:true}, locale='en') }}</td>
                                    <td>{{ player.MA }}</td>
                                    <td>{{ player.ST }}</td>
                                    <td>{{ player.AG }}</td>
                                    <td>{{ player.PA }}</td>
                                    <td>{{ player.AV }}</td>
                                    <td class="nowrap">
                                        {% if player.skills|length %}
                                            <ul>
                                                {% for label, skill in player.skills %}
                                                    <li>
                                                        <a href="#{{ skill.slug }}"
                                                           data-controller="fragment-dialog-trigger"
                                                           data-action="fragment-dialog-trigger#show">{{ label }}</a>
                                                        {% if skill.compulsory %}
                                                            <span>*</span>
                                                        {% endif %}
                                                        <small>({{ skill.category.value }})</small>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </td>
                                    <td class="nowrap">
                                        {% if player.traits|length %}
                                            <ul>
                                                {% for label, trait in player.traits %}
                                                    <li>
                                                        <a href="#{{ trait.slug }}"
                                                           data-controller="fragment-dialog-trigger"
                                                           data-action="fragment-dialog-trigger#show">{{ label }}</a>
                                                        {% if trait.compulsory %}
                                                            <span>*</span>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </details>
            </div>
        </details>
    {% endfor %}
</div>

<div id="star-players">
    <h2>Star Players</h2>
    <ol>
        {% for player in data.starPlayerPositions %}
            <li><a href="#{{ player.slug }}">{{ player.name }}</a></li>
        {% endfor %}
    </ol>
    {% for player in data.starPlayerPositions %}
        <details id="{{ player.slug }}" class="star-player">
            <summary>
                <h3>
                    {{ player.name }}
                    {% if player.megaStar %}
                        <small class="badge">Mega Star</small>
                    {% endif %}
                </h3>
            </summary>
            <div>
                <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th scope="col" style="width: 1px; white-space: nowrap">Cost</th>
                            <th scope="col" style="width: 1px; white-space: nowrap">MA</th>
                            <th scope="col" style="width: 1px; white-space: nowrap">ST</th>
                            <th scope="col" style="width: 1px; white-space: nowrap">AG</th>
                            <th scope="col" style="width: 1px; white-space: nowrap">PA</th>
                            <th scope="col" style="width: 1px; white-space: nowrap">AV</th>
                            <th scope="col">Skills</th>
                            <th scope="col">Traits</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ player.cost|format_number({grouping_used:true}, locale='en') }}</td>
                            <td>{{ player.MA }}</td>
                            <td>{{ player.ST }}</td>
                            <td>{{ player.AG }}</td>
                            <td>{{ player.PA }}</td>
                            <td>{{ player.AV }}</td>
                            <td class="nowrap">
                                {% if player.skills|length %}
                                    <ul>
                                        {% for label, skill in player.skills %}
                                            <li>
                                                <a href="#{{ skill.slug }}"
                                                   data-controller="fragment-dialog-trigger"
                                                   data-action="fragment-dialog-trigger#show"
                                                >{{ label }}</a>
                                                {% if skill.compulsory %}
                                                    <span>*</span>
                                                {% endif %}
                                                <small>({{ skill.category.value }})</small>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                            <td class="nowrap">
                                {% if player.traits|length %}
                                    <ul>
                                        {% for label, trait in player.traits %}
                                            <li>
                                                <a href="#{{ trait.slug }}" data-controller="fragment-dialog-trigger"
                                                   data-action="fragment-dialog-trigger#show">{{ label }}</a>
                                                {% if trait.compulsory %}
                                                    <span>*</span>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <dl>
                    <dt>Special Rules</dt>
                    <dd>{{ player.specialRules }}</dd>
                    <dt>Mega Star</dt>
                    <dd>{{ player.megaStar ? 'YES' : 'NO' }}</dd>
                    <dt>Source</dt>
                    <dd>{{ player.source }}</dd>
                    <dt>Plays For</dt>
                    <dd>{{ player.playsForRuleWithLinks|raw }}</dd>
                    <dt>Plays For (teams)</dt>
                    <dd>
                        <ul>
                            {% for team in player.teams %}
                                <li><a href="#{{ team.slug }}">{{ team.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </dd>
                </dl>
            </div>
        </details>
    {% endfor %}
</div>

<div id="player-skills-and-traits">
    <h2>Skills &amp; Traits</h2>
    <p>Players that are Standing and have not lost their Tackle Zone can use their Skills or Traits at any time, not
        just during their own activation. Players that are Prone or Stunned, or that have lost their Tackle Zone for
        any reason, cannot use any Skills or Traits unless otherwise stated in the Skill or Trait description:</p>
    <ul>
        <li>You can choose to use a Skill or Trait that modifies a dice roll after the dice roll has been made.</li>
        <li>All bonuses and/or modifiers from Skills or Traits can be combined.</li>
        <li>Unless the description states otherwise, a Skill or Trait can be used by more than one player per team
            turn.
        </li>
        <li>Unless the description states otherwise, a Skill or Trait can be used multiple times during each team
            turn.
        </li>
        <li>Unless a Skill or Trait is marked with an asterisk (*), its use is not compulsory (i.e., you do not have
            to use that Skill or Trait if you do not wish to). However, the use of a Skill or Trait marked with an
            asterisk (*) is compulsory.
        </li>
    </ul>
    <h3>Skills</h3>
    <div class="table-wrapper">
        <table class="nowrap">
            <thead>
            <tr>
                <th scope="col">1st D6</th>
                <th scope="col">2nd D6</th>
                <th scope="col">Agility</th>
                <th scope="col">General</th>
                <th scope="col">Mutations</th>
                <th scope="col">Passing</th>
                <th scope="col">Strength</th>
            </thead>
            <tbody>
            {% for d1, group in data.playerSkillsTable %}
                {% for d2, cols in group %}
                    <tr>
                        {% if d2 == 1 %}
                            <th rowspan="6">{{ d1 }}</th>
                        {% endif %}
                        <td>{{ d2 }}</td>
                        <td>
                            <a href="#{{ cols.A.slug }}">{{ cols.A.name }}</a>
                            {% if cols.A.compulsory %}*{% endif %}
                        </td>
                        <td>
                            <a href="#{{ cols.G.slug }}">{{ cols.G.name }}</a>
                            {% if cols.G.compulsory %}*{% endif %}
                        </td>
                        <td>
                            <a href="#{{ cols.M.slug }}">{{ cols.M.name }}</a>
                            {% if cols.M.compulsory %}*{% endif %}
                        </td>
                        <td>
                            <a href="#{{ cols.P.slug }}">{{ cols.P.name }}</a>
                            {% if cols.P.compulsory %}*{% endif %}
                        </td>
                        <td>
                            <a href="#{{ cols.S.slug }}">{{ cols.S.name }}</a>
                            {% if cols.S.compulsory %}*{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h3>Traits</h3>
    <ol>
        {% for trait in data.playerTraits %}
            <li>
                <a href="#{{ trait.slug }}">{{ trait.name }}</a>
                {% if trait.compulsory %}
                    <span>*</span>
                    <small class="badge badge--compulsory">Compulsory</small>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
    {% for skill in data.playerSkillsAndTraits %}
        <details id="{{ skill.slug }}" class="player-skill">
            <summary>
                <h3>
                    {{ skill.name }}
                    {% if skill.compulsory %}
                        <span>*</span>
                    {% endif %}
                    <small class="badge">{{ skill.category.label|default('Trait') }}</small>
                    {% if skill.compulsory|default %}
                        <small class="badge">Compulsory</small>
                    {% endif %}
                </h3>
            </summary>
            <div>
                {{ skill.ruleBookDescription|markdown_to_html }}
                <dl>
                    <dt>Player positions:</dt>
                    <dd>
                        {% if skill.playerPositions|length %}
                            <ul>
                                {% for playerPosition in skill.playerPositions %}
                                    <li>
                                        <a href="#{{ playerPosition.slug }}">
                                            {{- playerPosition.name -}}
                                        </a>
                                        &ndash;
                                        {{ playerPosition.team.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            None
                        {% endif %}
                    </dd>
                    <dt>Star Players:</dt>
                    <dd>
                        {% if skill.starPlayerPositions|length %}
                            <ul>
                                {% for playerPosition in skill.starPlayerPositions %}
                                    <li>
                                        <a href="#{{ playerPosition.slug }}"
                                           data-controller="fragment-dialog-trigger"
                                           data-action="fragment-dialog-trigger#show"
                                        >
                                            {{- playerPosition.name -}}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            None
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </details>
    {% endfor %}
</div>

<div id="special-rules">
    <h2>Special Rules</h2>
    <ol>
        {% for specialRule in data.specialRules %}
            <li>
                <a href="#{{ specialRule.slug }}">{{ specialRule.name }}</a>
                <small>({{ specialRule.category.value }})</small>
            </li>
        {% endfor %}
    </ol>
    {% for specialRule in data.specialRules %}
        <details id="{{ specialRule.slug }}" class="special-rule">
            <summary>
                <h3>
                    {{ specialRule.name }}
                    <small>({{ specialRule.category.value }})</small>
                </h3>
            </summary>
            <div>
                {{ specialRule.ruleBookDescription|markdown_to_html }}
                <dl>
                    <dt>Teams</dt>
                    <dd>
                        {% if specialRule.teams|length %}
                            <ul>
                                {% for team in specialRule.teams %}
                                    <li><a href="#{{ team.slug }}">{{ team.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            None
                        {% endif %}
                    </dd>
                    <dt>Star Players</dt>
                    <dd>
                        {% if specialRule.starPlayerPositions|length %}
                            <ul>
                                {% for player in specialRule.starPlayerPositions %}
                                    <li>
                                        <a href="#{{ player.slug }}"
                                           data-controller="fragment-dialog-trigger"
                                           data-action="fragment-dialog-trigger#show"
                                        >
                                            {{ player.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            None
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </details>
    {% endfor %}
</div>
</body>
</html>
